@import '../../app/variaveis.scss';

.footer {
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #c4c4c4;
}

.logo-footer {
  img {
    margin-left: 10%;
    margin-top: 4%;
  }

  p {
    margin: 1% 0 1% 10%;
    font-size: 22px;
    font-weight: 600;
  }
}

.redes {
  margin-left: 10%;
  display: flex;

  a {
    margin: 0.5%;
    margin-bottom: 30px;

    &:hover {
      transition: background 0.4s;
      background-color: $primary-color;
    }
  }
}

.contato {
  margin-left: 8%;
  margin: 2%;

  ul {
    margin-left: 8%;
    list-style: none;
  }

  li {
    margin: 1.5%;
  }

  a {
    font-size: 20px;
    text-decoration: none;
    color: #000000;

    &:hover {
      transition: background 0.4s;
      color: $primary-color;
    }
  }
}

.sobre {
  margin-left: 8%;
  margin: 2%;

  ul {
    margin-left: 8%;
    list-style: none;
  }

  li {
    margin: 1.5%;
  }

  a {
    color: #000000;
    text-decoration: none;
    font-size: 26px;

    &:hover {
      transition: background 0.4s;
      color: $primary-color;
    }
  }
}

.grupo {
  color: #fff;
  margin: 50px;
  margin-top: 20px;
  font-size: 30px;
  text-align: left;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 990px) {
  .logo-footer {
    img {
      margin-left: 5%;
    }

    p {
      margin: 1% 0 1% 5%;
      font-size: 20px;
    }
  }
}

@media (max-width: 700px) {
  .logo-footer {
    img {
      margin-left: 2%;
    }

    p {
      margin: 1% 0 1% 2%;
      font-size: 18px;
    }

    .sobre a {
      font-size: 22px;
    }

    .contato a {
      font-size: 19px;
    }
  }
}

@media (max-width: 500px) {
  .logo-footer {
    img {
      margin-left: 1%;
    }

    p {
      margin: 1% 0 1% 1%;
      font-size: 16px;
    }

    .sobre a {
      font-size: 20px;
    }

    .contato a {
      font-size: 18px;
    }
  }
}
