@import '../../app/variaveis.scss';

.button a {
    font-size: 30px;
    background-color: $primary-color;
    color: #FFF;
    padding: 15px;
    border-radius: 35px;
    display: inline-block;
    text-decoration: none;
}

.button a:hover {
    transition: background .4s;
    background-color: $secondary-color;
    color: #000000;
}


@media (max-width: 800px) {
    .button a {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .button a {
        font-size: 12px;
    }
}

